/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwOIpWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwOIpWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body{
	/*juan*/
	background-color: rgba(231,245,250);
		/* background-color: white;*/
}

h1, h2, h3, h4, h5, h6{
	color: black;
	font-family: 'Bubblegum Sans', cursive;
	text-shadow: 4px 4px 4px #aaa;
	text-align: center;
}

p{
	color: black;
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}


.menu
{
	/*quitar viñetas*/
	font-family: 'Raleway', sans-serif;
	list-style: none; 
	/*altura de linea*/
	line-height: 42px;    /*porque es el ancho y alto de los iconos en photoshop*/
	margin: 2EM auto;
	/*dibujado de línea sin aumentar tamaño*/
/*	outline: 1px solid red;*/
	/*eliminar el espacio de la izquierda*/
	padding-left: 0;
	width: 15EM;
}

.menu a
{
	background: url(iconos4.png) no-repeat left top;
	color: rgba(0,0,0);
		display: block;
	padding-left: 3em;
	/*sin subrayado*/
	text-decoration: none;
	/*todo a mayusculas*/
	text-transform: uppercase;

	/*para que el clic se pueda hacer en todo el espacio no solo en la palabra*/

	width: 100%;
}

.menu a:hover
{
	margin-left: 1em;
	--webkit-transition:all .5s;
-o-trasition: all .5s;
transition: all .5s;
}

.menu li
{
/*border-left: 3px solid	rgba(255,255,255,.2);  bonito pero hay uno más bonito */
box-shadow: 3px 0 rgba(204,204,204) inset;
margin-bottom: 5px;
padding-left: .8em;

/*	outline: 1px solid green;*/
--webkit-transition:all .5s;
-o-trasition: all .5s;
transition: all .5s;
}

.menu li:hover
{
	box-shadow: 15em 0 rgba(204,204,204) inset;
}



.menu li:nth-child(2) a
{
	background-position: 0 -42px;
}

.menu li:nth-child(3) a
{
	background-position: 0 -84px;
}

.menu li:nth-child(4) a
{
	background-position: 0 -126px;
}